
<tr id="tema<%= id_teme %>">
    <td>
        <img src="<%= url_avatara %>">
    </td>
    <td style="text-align:justify">
        <b><a href="<%= url teme %>"><%= ime_teme %></a></b>
        <p><%= ime_teme %></p>
    </td>
                    
    <td><span class="label label-danger"><%= broj_postova %></span></td>
    <td><% datum_teme %></td>
    <td><a href="<%= url_autora_teme %>"><%= ime_autora_teme %></a></td>
    <td>
        <a href="<%= url_zadnjeg_posta %>"><%= ime_posta %></a>
        <br>Autor:
        <a href="<%= url_korisnika %>"><%= ime_korisnika %></a><br>
        <%= datum_posta %>            
    </td>
</tr>
